<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/create" method="POST">
        <div>
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" placeholder="Ingresar marca">
        </div>
        <br>
        <div>
            <label for="modelo">Modelo</label>
            <input type="text" name="modelo" id="modelo" placeholder="Ingresar modelo">
        </div>
        <br>
        <div>
            <label for="precio">Precio</label>
            <input type="number" name="precio" placeholder="Ingresar precio">
        </div>
        <br>
        <div>
            <input type="submit" value="Guardar Producto">
        </div>
        <br>
    </form>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>